---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

  {% if page.iis_slider_active %}
    <!-- Slider CSS -->
    <link rel="stylesheet" href="{{ "/bower_components/ideal-image-slider/ideal-image-slider.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/bower_components/ideal-image-slider/themes/default/default.css" | relative_url }}">
  {% endif %}
</head>

<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">
  
  {% include header.html %}

  <main class="💈">

    {{ content }}
    
  </main>

  {% include footer.html %}
  
  {% if page.iis_slider_active %}
    <!-- Slider -->
    <script src="{{ "/bower_components/ideal-image-slider/ideal-image-slider.min.js" | relative_url }}"></script>
    <script src="{{ "/bower_components/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js" | relative_url }}"></script>
    <script src="{{ "/bower_components/ideal-image-slider/extensions/captions/iis-captions.js" | relative_url }}"></script>
    <!-- Sliders on pages -->
    {% for script in page.iis_slider_scripts %}
      {{ script }}
    {% endfor %}
    <!-- Sliders on indexes -->
    {% for post in paginator.posts %}
      {% for script in post.iis_slider_scripts %}
        {{ script }}
      {% endfor %}
  {% endfor %}
  {% endif %}
</body>



</html>
